html,body{
    margin: 0;
    display: flex;
}

.header{
    background-color: #16345C;
    height: 40px;
    width: 1920px;
    padding: 0px;
    margin: 0px;  

}

.footer{
    background-color: #43546D;
    height: 50px;
    width: 1920px;
    left: 0;
    bottom: 0;
    position: fixed; bottom: 0;

}


.table{
    background-color: #F1F1F1;
    padding-left: 30px;
    height: 350px;
    margin: auto;
    width: 1500px;
    
}

.img{width: 280px;  overflow: hidden;}

.scale{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.scale:hover{
    transform: scale(1.2);
}
#info{
    padding-left: 30px;
    height: 300px;
    width: 400px;
    object-fit: cover;
    filter:drop-shadow(4px 5px 4px gray);
    transform:scale(1.0);
  
}

#jicheon{
  
    object-fit: cover;
    padding-left: 30px;
    height: 300px;
    width: 400px; 
    filter:drop-shadow(4px 5px 4px gray);
}

#geon{
    height: 300px;
    width: 400px;
    padding-left: 30px;
    filter:drop-shadow(4px 5px 4px gray);
}

.div{
  box-shadow: 0 0 4px black;
  text-align: center;
  margin: auto;
  border: 1px solid rgb(201, 198, 198);
  width: 800px;
  height: 60px;
}




.div2{
    box-shadow: 0 0 4px black;
    margin: auto;
    border: 1px solid rgb(201, 198, 198);
    width: 1200px;
    height: 200px;
  }
#line1{
    height: 50px;
}

#line2{
    width: 750;
    height: 2px;
    background-color: grey;
}